*{
    padding: 0px;
    margin: 0px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#div_centrado{
display: flex;
background-color: white;
height: 300px;
width: 330px;
align-items: center;
flex-direction: column;
justify-content: center;
border-style: groove;
box-shadow: -20px 20px 20px 7px rgba(0, 0, 0, 0.3);
}


button {
    font-family: monospace;
    background-color: #f3f7fe;
    color: #3b82f6;
    border: none;
    border-radius: 8px;
    width: 160px;
    height: 45px;
    margin: 10px;
    transition: .3s;
    
  }
  
  button:hover {
    background-color: #3b82f6;
    box-shadow: 0 0 0 5px #3b83f65f;
    color: #fff;
  }
  
  h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
