*{
    margin: 0;
    padding: 0;
}
body{
    justify-items: center;
}

#imageInput{
    color:black;
    
}
.center-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

@media (max-width: 700px) {
    .fila{
      display: flex;
      flex-direction: column;
    }
    .prod{
        width: 100%;
        height: auto;
    }
   
}
